<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Item Name :
                                    <%= item.name %>
                                </h5>
                                <h5 class="card-title">Item Category :
                                    <%= item.category %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%- include('../partials/footer.ejs') %>
                <%- include('../partials/script.ejs') %>

    </body>

</html>