<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= customer.name %>
                                </h5>
                                <p class="card-text">Country :<%= customer.country %>
                                </p>
                                <p class="card-text">Mobile :<%= customer.mobile %>
                                </p>
                                <p class="card-text">e-mail :<%= customer.email %>
                                </p>
                                <p class="card-text">Note :<%= customer.note %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%- include('../partials/footer.ejs') %>
                <%- include('../partials/script.ejs') %>

    </body>

</html>